body {
    background-color: black;
    display: flex;
    justify-content: center;

    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: "Cascadia Code";
}


h1{
    color: #ff0054;
    font-size: 7em;
}

p{
    font-size: 2em;
    color: #9e0059;
}


a{

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    --border-width: 7px;
    appearance: none;
    position: relative;

    border: 0;


    font-weight: 600;
    color: #ffff;
    z-index: 2;

    padding: 20px;
    margin: 10px;
    width: 450px;
    height: 200px;
    border-radius: 100px !important;
    font-size: 3em;
}

a::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    background-image: conic-gradient(
            #ff0080,
            #ff0080,
            #ff0080,
            #ff0080,
            #ff0080,
            #ff0080,
            #ff0080
    );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue634 linear 500ms infinite;
    animation-play-state: paused;

    border-color: #000;
}

a:hover::after {
    animation-play-state: running;

}

@keyframes rotate-hue634 {
    to {
        filter: hue-rotate(1turn);
    }
}

a,
a::after {
    box-sizing: border-box;

}

a:active {
    --border-width: 5px;
}



a, a::before, a::after {
    border-radius: 50px;


}
.bn {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 0;

}

.bn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(46, 46, 46);
    left: 0;
    top: 0;

}

.bn::before {
    content: "";
    background: linear-gradient(
            45deg,
            #390099, #9e0059, #ff0054, #ff5400,
            #ffbd00, #9e0059, #390099, #ffbd00
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing345 20s linear infinite;
    transition: opacity .3s ease-in-out;

    opacity: 0;
}

@keyframes glowing345 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bn:hover::before {
    opacity: 1;
}

.bn:active:after {
    background: transparent;
}

.bn:active {
    color: #000;
    font-weight: bold;
}


